
body{
  background-color:rgb(204, 198, 233)
}
.questions{
  display: flex;
  color: rgb(8, 8, 150);
}
ul{
 display: inline;
 list-style-type: 'none';
 margin: 10px;
 padding: 5px;
 border: 50px;
 border-radius:6px solid #beca19;
}


 ul > button{
  display: inline; 
  font-size: large;
  flex-direction: row;
  justify-content: center;
    height: 50px;
    width: auto;
    gap:0px;
   cursor: pointer;
   border: 1px solid rgb(142, 168, 23); 
   border-radius: 5px;
   outline: 10px;
  margin-bottom: 5px;
    margin-right: 12px;
    padding: 10px;
     background-color: #989aa7;
}

/* Puedes pegarlo justo abajo de tus otros estilos */

.quiz-btn {
  background-color: transparent;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  padding: 6px 15px;
  margin: 5px;
  font-size: 14px;
  color: #293264;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Es buena idea poner también su efecto Hover justo debajo */
.quiz-btn:hover:not(:disabled) {
  background-color: #D6DBF5;
  border-color: #D6DBF5;
}


ul > button.correct {
    background-color: #10A95B;
}

ul > button.incorrect {
    background-color: #c21c06;
}

